@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Questrial");

body {
  margin: 0;
  padding: 80px 16px;
  min-height: calc(100vh - 160px);
  background: url("https://source.unsplash.com/1600x900/?ferrol,coffee")
    no-repeat center center;
  background-size: cover;
}

.menu-wrap {
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  max-width: 400px;
  background-color: white;
  box-shadow: 40px 40px 80px -40px rgba(50, 50, 80, 0.4);
}

header {
  font-family: "Satisfy", cursive;
  text-align: center;
}

header h4 {
  margin: 0;
  font-size: 40px;
  color: #ff5722;
}

#header-title:hover {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: bounceIn;
}
@keyframes bounceIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.table-menu {
  margin: 40px 0 0 0;
  width: 100%;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  color: #455a64;
  line-height: 40px;
}
